* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-padding-top: 74px;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #333;
}

@media (min-width: 992px) {
  html {
    scroll-padding-top: 72px;
  }
}
.shadow-bg {
  background-color: rgba(0, 0, 0, 0.8);
}

.section-title {
  text-align: center;
  text-transform: uppercase;
}

.underline {
  width: 60px;
  height: 4px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  background-color: #039dff;
}

nav {
  text-transform: uppercase;
  z-index: 5;
  transition: background-color 0.6s;
}
nav .nav-link,
nav .navbar-nav .nav-link.active,
nav .navbar-nav .nav-link.show,
nav .navbar-brand,
nav .fa-bars {
  color: #fff;
}
nav .nav-link:focus,
nav .nav-link:hover,
nav .nav-link.active:hover,
nav .navbar-brand:focus,
nav .navbar-brand:hover {
  color: #039dff;
}
nav .navbar-toggler {
  padding: 10px 15px;
}
nav .navbar-brand {
  font-weight: bold;
}
nav .navbar-brand .navbar-brand-text {
  margin-left: 10px;
}
nav .navbar-brand .navbar-brand-text span {
  color: #039dff;
}

header {
  position: relative;
  top: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../img/playstation-1845880_640.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
header .hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 5;
  text-transform: uppercase;
  color: #fff;
}
header .hero-text p {
  display: flex;
  justify-content: center;
  text-transform: lowercase;
}
header .hero-text span {
  color: #039dff;
}
header .hero-text .hero-arrow {
  position: absolute;
  bottom: 5px;
  align-self: center;
  font-size: 40px;
  color: #fff;
}
header .hero-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  background-color: #000;
}

.aboutus div.hover {
  transition: color 0.6s ease;
}
.aboutus div.hover:hover {
  color: #039dff;
}
.aboutus i {
  margin-top: 20px;
  font-size: 30px;
}
.aboutus .about-us-card-title {
  font-size: 18px;
  text-transform: uppercase;
}
.aboutus .about-us-card-text {
  font-size: 14px;
}

.aboutus-hero {
  position: relative;
  width: 100%;
  height: auto;
  background-image: url("../img/technology-8280863_640.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: #ddd;
  z-index: 0;
}
.aboutus-hero .aboutus-shadow {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-color: #000;
  z-index: -5;
}
.aboutus-hero .aboutus-hero-item {
  margin: 10px 0;
}
.aboutus-hero .aboutus-hero-item i {
  font-size: 36px;
}
.aboutus-hero .aboutus-hero-item .about-us-hero-title {
  font-size: 24px;
}

.carousel-item img {
  width: 100%;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
}

.carousel-indicators {
  padding-bottom: 20px;
}

@media (min-width: 768px) {
  header {
    background-image: url("../img/playstation-1845880_1280.jpg");
  }
  .hero-text h1 {
    font-size: 42px;
  }
  .hero-text p {
    font-size: 20px;
  }
  .aboutus-hero {
    background-image: url("../img/technology-8280863_1280.jpg");
  }
}/*# sourceMappingURL=style.css.map */